:root{
    --purple: #2F303A;
    --white: #fff;
    --another-white: #F5F4FA;
    --sky: #2196F3;
    --black: #212121;
    --grey: #757575;
}
@font-face{
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 900;
    src: url("../fonts/Roboto-Black.ttf");
}

body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-list{
    list-style: none;
    display: flex;
    padding-left: 93px;
}
.nav-list-item{
    position: relative;
}
.nav-list-item-1{
    padding-left: 7px;
}
.nav-link::after{
    content: "";
    height: 2px;
    width: 60%;
    background-color: var(--sky);
    position: absolute;
    left: 0px;
    bottom: -20px;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after{
    opacity: 1;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    margin-right: 50px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-1{
    margin-left: 7px;
}
.nav-link:hover{
    color: var(--sky);
}
.address{
    margin-left: auto;
}
.adress-link{
    margin-right: 50px;
}
.address-email{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-email:hover{
    color: var(--sky);
}
.address-phone{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-phone:hover{
    color: var(--sky);
}
.address-email-icon{
    width: 16px;
    height: 12px;
    fill: #AFB1B8;
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-phone-icon{
    width: 10px;
    height: 16px;
    fill: #AFB1B8;
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-email:hover, .address-email:hover .address-email-icon{
    color: var(--sky);
    fill: var(--sky);
}
.address-phone{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-phone:hover, .address-phone:hover .address-phone-icon{
    color: var(--sky);
    fill: var(--sky);
}
.nav-wrap{
    padding-top: 94px;
    display: flex;
    justify-content: center;
}
.nav-button{
    background-color: var(--another-white);
    height: 38px;
    padding: 6px 22px 6px 22px;
    border: none;
    border-radius: 4px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-button:hover{
    background-color: var(--sky);
    color: var(--white);
    cursor: pointer;
    box-shadow: 
        0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.nav-button:not(:last-child){
    margin-right: 8px;
}

.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 14px 0;
    border-bottom: 2px solid rgb(241, 241, 241);
}
.header{
    padding: 50 px 0;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts-section{
    padding-top: 34px;
}
.posts-section-list{
    list-style: none;
}
.posts-section-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.post-item{
    width: calc((100% - 60px)/3);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.post-item:hover{
    cursor: pointer;
    box-shadow: 
        1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.post-img{
    display: block;
    width: 100%;
}
.post-title{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--black);
}
.post-subtitle{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--grey);
}
.posts-section-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 94px;
}
.post-item{
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
}

.post-item-wrap{
    border-bottom: 1px solid rgb(241, 241, 241);
    border-left: 1px solid rgb(241, 241, 241);
    border-right: 1px solid rgb(241, 241, 241);
    position: relative;
    overflow: hidden;
}
.post-item-wrap:hover .overlay{
    
    transform: translateY(0);
    
}
.overlay-wrap{
 position: relative;
 overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 500ms ease;
    background-color: rgba(33, 150, 243, 0.9);

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.post-item:nth-child(-n+6){
    margin-bottom: 0;
}
.post-text{
    text-align: start;
    padding-right: 24px;
    padding-left: 24px;
}
.post-title{
    margin-top: 20px;
}
.post-subtitle{
    margin-bottom: 20px;
}
.post-title{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--black);
}
.post-subtitle{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--grey);
}
.main-footer-wrap{
    display: flex;
    justify-content: start;
}
.footer{
    background-color: var(--purple);
}
.footer-address{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    color: var(--white);
    line-height: 1.71;
}
.footer-text{
    margin-top: 20px;
    color: var(--white);
    letter-spacing: 0.5px;
}
.footer-wrap-left{
    padding-top: 60px;
}
.footer-email{
    text-decoration: none;
    color: var(--white60);
    letter-spacing: 0.5px;
    color: var(--another-white);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:hover{
    color: var(--sky);
}
.footer-phone{
    text-decoration: none;
    color: var(--white60);
    letter-spacing: 0.5px;
}
.footer-phone:hover{
    color: var(--sky);
}
.footer-wrap{
    padding-top: 60px;
}
.footer-address{
    display: flex;
    flex-direction: column;
}
.footer-email{
    padding-bottom: 9px;
}
.footer-phone{
    margin-bottom: 60px;
}
.main-footer-wrap{
    display: flex;
    justify-content: start;
}
.footer-wrap-center{
    margin-left: 70px;
}
.footer-social-text{
    margin: 0;
}
.footer-social-text{
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 68px;
}
.footer-social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 35px;
    flex-wrap: wrap;
}
.footer-social:not(:last-child) {
    margin-right: 10px; 
}
.footer-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;

    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-wrapper{
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-wrapper:hover {
    background-color: #2196F3;
}
.footer-email-form-wrap{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 35px;
    flex-wrap: wrap;
}
.footer-email-text{
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 68px;
}
.footer-input-mail{
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    padding: 16px;
    border: 2px solid #ffffff31;
    border-radius: 4px;
    background-color: var(--purple);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.footer-button{
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    padding: 16px;
    background-color: var(--sky);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover{
    background-color: var(--white);
}
.footer-button:hover .footer-social-icon,
.footer-button:hover .footer-subscribe
{
    fill: var(--black);
    color: var(--black);
}
.footer-subscribe{
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-right-icon{
    padding-left: 10px;
}