:root{
    --purple: #2F303A;
    --white: #fff;
    --another-white: #F5F4FA;
    --sky: #2196F3;
    --black: #212121;
    --grey: #757575;
}
@font-face{
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 900;
    src: url("../fonts/Roboto-Black.ttf");
}

body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-list{
    list-style: none;
    display: flex;
    padding-left: 93px;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    margin-right: 50px;
}
.nav-link:hover{
    color: var(--sky);
}
.address{
    margin-left: auto;
}
.adress-link{
    margin-right: 50px;
}
.address-email{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;
}
.address-email:hover{
    color: var(--sky);
}
.address-phone{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;
}
.address-phone:hover{
    color: var(--sky);
}

.footer{
    background-color: var(--purple);
}
.footer-address{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.5px;
    color: var(--white);
    line-height: 1.71;
}
.footer-text{
    margin-top: 20px;
    color: var(--white);
    letter-spacing: 0.5px;
}
.footer-email{
    text-decoration: none;
    color: var(--white);
    letter-spacing: 0.5px;
}
.footer-phone{
    text-decoration: none;
    color: var(--white);
    letter-spacing: 0.5px;
}
.nav-wrap{
    padding-top: 94px;
    display: flex;
    justify-content: center;
}
.nav-button{
    background-color: var(--another-white);
    height: 38px;
    padding: 6px 22px 6px 22px;
    border: none;
    border-radius: 4px;
}
.nav-button:hover{
    background-color: var(--sky);
    color: var(--white);
    cursor: pointer;
    box-shadow: 
        0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.nav-button:not(:last-child){
    margin-right: 8px;
}

.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 14px 0;
    border-bottom: 2px solid rgb(241, 241, 241);
}
.footer-wrap{
    padding-top: 60px;
}
.footer-address{
    display: flex;
    flex-direction: column;
}
.footer-email{
    padding-bottom: 9px;
}
.footer-phone{
    margin-bottom: 60px;
}
.header{
    padding: 50 px 0;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts-section{
    padding-top: 34px;
}
.posts-section-list{
    list-style: none;
}
.posts-section-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.post-item{
    width: calc((100% - 60px)/3);
}
.post-item:hover{
    cursor: pointer;
    box-shadow: 
        1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.post-img{
    width: 100%;
}
.post-title{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--black);
}
.post-subtitle{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--grey);
}
.posts-section-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 94px;
}
.post-item{
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
}
.post-item-wrap{
    border-bottom: 1px solid rgb(241, 241, 241);
    border-left: 1px solid rgb(241, 241, 241);
    border-right: 1px solid rgb(241, 241, 241);
}
.post-item:nth-child(-n+6){
    margin-bottom: 0;
}
.post-text{
    text-align: start;
    padding-right: 24px;
    padding-left: 24px;
}
.post-title{
    margin-top: 20px;
}
.post-subtitle{
    margin-bottom: 20px;
}
.post-title{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--black);
}
.post-subtitle{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--grey);
}