:root{
    --purple: #2F303A;
    --white: #fff;
    --white60: #FFFFFF99;
    --another-white: #F5F4FA;
    --sky: #2196F3;
    --black: #212121;
    --grey: #757575;
}
@font-face{
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 900;
    src: url("../fonts/Roboto-Black.ttf");
}

body {
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-text{
    color: white;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 2px;
}
.main-section{
    background-color: var(--purple);
    height: 600px;
}
.main-section-wrap{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-button{
    height: 50px;
    width: 216px;
    background-color: var(--sky);
    color: white;
    border-radius: 4px;
    border: none;
}
.nav-list{
    list-style: none;
    display: flex;
    padding-left: 93px;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    margin-right: 50px;
}
.nav-link:hover{
    color: var(--sky);
}
.address{
    margin-left: auto;
}
.adress-link{
    margin-right: 50px;
    font-weight: 500;
}
.address-email{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;
}
.address-email:hover{
    color: var(--sky);
}
.address-phone{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;
}
.address-phone:hover{
    color: var(--sky);
}
.features-section{
    margin-top: 94px;
    margin-bottom: 94px;
}
.features-list{
    list-style: none;
    margin: 0;
    padding: 0;

}
.features-list-item{
    margin-right: 30px;
}
.features-title{
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.features-subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--grey);
    letter-spacing: 0.5px;
}
.our-works-title{
    margin: 0px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    letter-spacing: 1px;
}
.team-section{
    background-color: var(--another-white);
}
.team-wrap{
    background-color: var(--white);
    border-bottom-left-radius: 4px; 
  border-bottom-right-radius: 4px; 
}
.team-text{
    text-align: center;
    margin-top: 0;
    padding-bottom: 0px;
}
.team-section-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    padding-top: 94px;
    padding-bottom: 50px;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.team-item{
    list-style: none;
}
.team-member-title{
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    letter-spacing: 0.5px;
}
.team-member-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
    letter-spacing: 0.5px;
}
.footer{
    background-color: var(--purple);
}
.footer-address{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    color: var(--white);
    line-height: 1.71;
}
.footer-text{
    margin-top: 20px;
    color: var(--white);
    letter-spacing: 0.5px;
}
.footer-wrap{
    padding-top: 60px;
}
.footer-email{
    text-decoration: none;
    color: var(--white60);
    letter-spacing: 0.5px;
}
.footer-email:hover{
    color: var(--sky);
}
.footer-phone{
    text-decoration: none;
    color: var(--white60);
    letter-spacing: 0.5px;
}
.footer-phone:hover{
    color: var(--sky);
}

/* Flexbox */
.header-wrap{
    display: flex;
    align-items: center;
}
.header{
    padding: 14px 0;
}
.features-list{
    display: flex;
}
.our-works-list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 94px;
}
.team-list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 94px;
}
figure{
    margin: 0;
}
.team-member-title{
 margin-top: 30px;
}
.team-member-subtitle{
 padding-bottom: 30px;
}
.footer-wrap{
    padding-top: 60px;
}
.footer-address{
    display: flex;
    flex-direction: column;
}
.footer-email{
    padding-bottom: 9px;
}
.footer-phone{
    margin-bottom: 60px;
}