:root{
    --purple: #2F303A;
    --white: #fff;
    --white60: #FFFFFF99;
    --another-white: #F5F4FA;
    --sky: #2196F3;
    --black: #212121;
    --grey: #757575;
}
@font-face{
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face{
    font-family: "Roboto";
    font-weight: 900;
    src: url("../fonts/Roboto-Black.ttf");
}

body {
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-text{
    color: white;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 2px;
}
.main-section{
    background-image: url("../img/bg-gradient.png"),
                      url("../img/bg-office.png");
    background-size: cover, cover; 
}
.main-section-wrap{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-button{
    height: 50px;
    width: 216px;
    background-color: var(--sky);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.nav-list{
    list-style: none;
    display: flex;
    padding-left: 93px;
}
.nav-list-item{
    position: relative;
}
.nav-link::after{
    content: "";
    height: 2px;
    width: 60%;
    background-color: var(--sky);
    position: absolute;
    left: 0px;
    bottom: -20px;
    opacity: 0;
}
.nav-link:hover::after{
    opacity: 1;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    margin-right: 50px;
}
.nav-link-1{
    margin-left: 7px;
}
.nav-link:hover{
    color: var(--sky);
}
.address{
    margin-left: auto;
}
.adress-link{
    margin-right: 30px;
    font-weight: 500;
}
.address-email{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;
}
.address-email-icon{
    width: 16px;
    height: 12px;
    fill: #AFB1B8;
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;
}
.address-phone-icon{
    width: 10px;
    height: 16px;
    fill: #AFB1B8;
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;
}
.address-email:hover, .address-email:hover .address-email-icon{
    color: var(--sky);
    fill: var(--sky);
}
.address-phone{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-style: normal;
}
.address-phone:hover, .address-phone:hover .address-phone-icon{
    color: var(--sky);
    fill: var(--sky);
}

/* Modal window*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(5px);
    z-index: 3;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;      
    transform: translate(-50%, -50%)
    
}
.modal-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.modal-close-icon{
    width: 11px;
    height: 11px;
    display: flex;
}
.modal-icon{
    width: 20px;
    height: 20px;
    fill: black;
    position: absolute;
    top: 14px;
    left: 10px;
    cursor: pointer;
}

.modal-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.05px solid #AFB1B8;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}
.modal-close:hover .modal-close-icon{
    fill: var(--sky);
}
.modal-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(33, 33, 33, 1);
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 700;
}
.modal-form > label{
    font-size: 12px;
    color: var(--grey);
    font-weight: 400;
}
.modal-input{
    box-sizing: border-box;
   margin-top: 4px;
   margin-bottom: 10px;
   padding: 11px;
   padding-left: 40px;
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   width: 100%;
}
.modal-input-textarea{
    box-sizing: border-box;
   margin-top: 4px;
   margin-bottom: 10px;
   padding: 11px;
   
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   width: 100%;
}
.modal-input-textarea:hover{
    border: 1px solid var(--sky);
}
.modal-input-checkbox{
   box-sizing: border-box;
   margin-top: 4px;
   margin-bottom: 10px;
   padding: 11px;
   padding-left: 20px;
   width: 100%;
   display: flex;
   gap: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.modal-input-checkbox > p{
    color: var(--grey);
    letter-spacing: 0.42px;
}
.modal-input-checkbox > p > a{
    margin-left: 10px;
    color: #2196F3;
}
.input-wrapper{
    position: relative;
}
.input-wrapper:hover .modal-icon{
    fill: var(--sky);
}
.input-wrapper:hover .modal-input{
    border: 1px solid var(--sky);
}
.modal-input:focus,
.modal-input-textarea:focus {
    border: 1px solid var(--sky);
    outline: none; 
}
.focus-1:focus-within .focus-img-1 {
    fill: var(--sky);
}
.modal-bottom-button{
    width: 200px;
    height: 50px;
    background-color: var(--sky);
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.modal-input-textarea:focus {
    border: 1px solid var(--sky);
    outline: none;
}
.no-scroll {
    overflow: hidden;
    padding-right: 18px;
}


.input-wrapper:focus-within .modal-icon {
    fill: var(--sky);
}


.features-section{
    margin-top: 94px;
    margin-bottom: 94px;
}
.features-list{
    list-style: none;
    margin: 0;
    padding: 0;

}
.features-list-item{
    margin-right: 30px;
}
.features-title{
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.features-subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--grey);
    letter-spacing: 0.5px;
}
.our-works-title{
    margin: 0px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    letter-spacing: 1px;
}
.our-works-caption{
    position: relative;
}
.our-works-img{
    display:block;
    max-width:100%;
    width: 100%;
}
.our-works-figcaption{
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;  
    align-items: center; 
}
.team-section{
    background-color: var(--another-white);
}
.team-wrap{
    background-color: var(--white);
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.team-text{
    text-align: center;
    margin-top: 0;
    padding-bottom: 0px;
}
.team-section-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    padding-top: 94px;
    padding-bottom: 50px;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.team-item{
    list-style: none;
    
}
.team-member-title{
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    letter-spacing: 0.5px;
}
.team-member-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
    letter-spacing: 0.5px;
}
.team-member-social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 35px;
}
.team-member-social:not(:last-child) {
    margin-right: 10px; 
}
.social-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.team-member-social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.social-icon-wrapper:hover {
    background-color: #2196F3;
}
.social-icon-wrapper:hover .team-member-social-icon {
    fill: #FFFFFF;
}
.customers{
    padding-top:94px;
    padding-bottom: 94px;
}
.customers-title{
    margin: 0px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.customers-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
}
.customers-list-item:not(:last-child){
    margin-right: 27px; 
}
.customers-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 3%;
    border: #AFB1B8 1px solid;
}
.customers-list-icon{
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}
.customers-list-link:hover{
    border-color: var(--sky);
}
.customers-list-link:hover .customers-list-icon{
    fill: var(--sky);
}
.footer{
    background-color: var(--purple);
}
.footer-address{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    color: var(--white);
    line-height: 1.71;
}
.footer-text{
    margin-top: 20px;
    color: var(--white);
    letter-spacing: 0.5px;
}
.footer-wrap-left{
    padding-top: 60px;
}
.footer-email{
    text-decoration: none;
    color: var(--white60);
    letter-spacing: 0.5px;
}
.footer-email:hover{
    color: var(--sky);
}
.footer-phone{
    text-decoration: none;
    color: var(--white60);
    letter-spacing: 0.5px;
}
.footer-phone:hover{
    color: var(--sky);
}

/* Flexbox */
.header-wrap{
    display: flex;
    align-items: center;
}
.header{
    padding: 14px 0;
}
.features-list{
    display: flex;
}
.our-works-list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 94px;
}
.team-list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 94px;
}
figure{
    margin: 0;
}
.team-member-title{
 margin-top: 30px;
}
.footer-wrap{
    padding-top: 60px;
}
.footer-address{
    display: flex;
    flex-direction: column;
}
.footer-email{
    padding-bottom: 9px;
}
.footer-phone{
    margin-bottom: 60px;
}
/* Pseudo elements */
.features-list-item1::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../img/icon-antenna.png);
}
.features-list-item2::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../img/icon-clock.png);
}
.features-list-item3::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../img/icon-computer.png);
}
.features-list-item4::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../img/icon-astronaut.png);
}
.main-footer-wrap{
    display: flex;
    justify-content: start;
}
.footer-wrap-center{
    margin-left: 70px;
}
.footer-social-text{
    margin: 0;
}
.footer-social-text{
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 68px;
}
.footer-social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 35px;
    flex-wrap: wrap;
}
.footer-social:not(:last-child) {
    margin-right: 10px; 
}
.footer-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.footer-icon-wrapper{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon-wrapper:hover {
    background-color: #2196F3;
}
.footer-email-form-wrap{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 35px;
    flex-wrap: wrap;
}
.footer-email-text{
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 68px;
}
.footer-input-mail{
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    padding: 16px;
    border: 2px solid #ffffff31;
    border-radius: 4px;
    background-color: var(--purple);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.footer-button{
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    padding: 16px;
    background-color: var(--sky);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}
.footer-button:hover{
    background-color: var(--white);
}
.footer-button:hover .footer-social-icon,
.footer-button:hover .footer-subscribe
{
    fill: var(--black);
    color: var(--black);
}
.footer-right-icon{
    padding-left: 10px;
}