.features-list-item1::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../../img/icon-antenna.png);
}
.features-list-item2::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../../img/icon-clock.png);
}
.features-list-item3::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../../img/icon-computer.png);
}
.features-list-item4::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-image: url(../../img/icon-astronaut.png);
}