%sections-padding{
    padding-top: 60px;
    padding-bottom: 60px;
}

%sections-title-padding{
    padding-bottom: 50px;
}

%feauters-img{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
}

%items{
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 9 / 4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

%footer-adress{
    text-decoration: none;
    color: $caption-adress;
    letter-spacing: 0.5px;
}

