$text-color-base: #212121;           
$background-color-primary: #ffffff; 
$background-color-secondary: #2F303A;
$hover-color: #2196F3;
$caption-color: #757575; 
$caption-adress: #FFFFFF99;
$button: #F5F4FA;