.nav-wrap{
    padding-top: 94px;
    display: flex;
    justify-content: center;
}
.nav-wrap__button{
    background-color: $button;
    height: 38px;
    padding: 6px 22px 6px 22px;
    border: none;
    border-radius: 4px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-wrap__button:hover{
    background-color: $hover-color;
    color: $background-color-primary;
    cursor: pointer;
    box-shadow: 
        0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.nav-wrap__button:not(:last-child){
    margin-right: 8px;
}