.item--first::before{
    @extend %items;
    background-image: url(../../img/icon-antenna.png);
}
.item--second::before{
    @extend %items;
    background-image: url(../../img/icon-clock.png);    
}
.item--third::before{
    @extend %items;
    background-image: url(../../img/icon-computer.png);
}
.item--fourth::before{
    @extend %items;
    background-image: url(../../img/icon-astronaut.png);
}
.item__title{
    font-size: 14px;
    font-weight: 700;
    color: $text-color-base;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.item__subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: $caption-color;
    letter-spacing: 0.5px;
}
.section--features{
    padding-bottom: 0;
}
