.footer{
    background-color: $background-color-secondary;
}
.footer-address{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    color: $background-color-primary;
    line-height: 1.71;
}
.footer-text{
    margin-top: 20px;
    color: $background-color-primary;
    letter-spacing: 0.5px;
}
.footer-wrap-left{
    padding-top: 60px;
}
.footer-email{
    text-decoration: none;
    color: $caption-adress;
    letter-spacing: 0.5px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-email:hover{
    color: $hover-color;
}
.footer-phone{
    text-decoration: none;
    color: $caption-adress;
    letter-spacing: 0.5px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-phone:hover{
    color: $hover-color;
}
.footer-wrap{
    padding-top: 60px;
}
.footer-address{
    display: flex;
    flex-direction: column;
}
.footer-email{
    padding-bottom: 9px;
}
.footer-phone{
    margin-bottom: 60px;
}
.main-footer-wrap{
    display: flex;
    justify-content: start;
}