.address{
    margin-left: auto;
}
.adress-link{
    margin-right: 30px;
    font-weight: 500;
}
.address-email{
    font-size: 14px;
    font-weight: 500;
    color: $caption-color;
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.address-email-icon{
    width: 16px;
    height: 12px;
    fill: #AFB1B8;
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.address-phone-icon{
    width: 10px;
    height: 16px;
    fill: #AFB1B8;
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.address-email:hover, .address-email:hover .address-email-icon{
    color: $hover-color;
    fill: $hover-color;
}
.address-phone{
    font-size: 14px;
    font-weight: 500;
    color: $caption-color;
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.address-phone:hover, .address-phone:hover .address-phone-icon{
    color: $hover-color;
    fill: $hover-color;
}