.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  padding-bottom: 50px;
}

.item--fourth::before, .item--third::before, .item--second::before, .item--first::before {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 9/4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.footer__phone, .footer__email {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.5px;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.header {
  padding: 14px 0;
  border-bottom: 2px solid rgba(177, 177, 177, 0.178);
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .header__wrap {
    padding: 15px 0 10px 0;
  }
}
.logo {
  display: inline-block;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__nav {
  transform: translateX(100%);
  transition: transform 0.1s linear;
}

.menu.open {
  transform: translateX(0);
}
.menu.open .menu__nav {
  transform: translateX(0);
}

.menu__toggle {
  display: none;
}

.menu__label {
  position: relative;
}

@media (min-width: 768px) {
  .menu {
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: transparent;
  }
  .menu__nav {
    transform: none;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    gap: 35px;
    padding-top: 0;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: start;
  gap: 35px;
  margin: 0;
  padding-top: 48px;
}

.nav__item {
  position: relative;
}

.nav__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
}

.nav__link:hover {
  color: #2196F3;
}

@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    align-items: center;
    gap: 56px;
    padding: 0;
    margin: 0;
  }
  .nav__item::after {
    content: "";
    height: 2px;
    width: 60%;
    background-color: #2196F3;
    position: absolute;
    left: 0px;
    top: 30px;
    opacity: 0;
    transform: translateX(0px);
    transform-origin: left center;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__item:hover::after {
    opacity: 1;
    transform: scale(2) translateX(-2.5px);
  }
  .nav__link {
    font-size: 14px;
  }
}
.toggle-button {
  border: none;
  display: block;
  background-color: transparent;
  width: 25px;
  height: 20px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.toggle-button::after, .toggle-button::before {
  content: "";
}
.toggle-button::before {
  top: 0px;
}
.toggle-button__line {
  top: calc(50% - 1px);
}
.toggle-button::after {
  top: 100%;
}

.toggle-button__line,
.toggle-button::before,
.toggle-button::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #212121;
  transition-property: transform, top;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.toggle-button:hover .toggle-button__line {
  background-color: #2196F3;
}

.toggle-button:hover::before {
  background-color: #2196F3;
}

.toggle-button:hover::after {
  background-color: #2196F3;
}

.toggle-button.open .toggle-button__line {
  transform-origin: center;
  transform: scaleX(0);
}
.toggle-button.open::before, .toggle-button.open::after {
  top: calc(50% - 1px);
}
.toggle-button.open::before {
  transform: rotate(180deg);
}
.toggle-button.open::after {
  transform: rotate(-90deg);
}

@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }
}
.address-burger {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.address-burger__tel {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  padding-top: 80%;
}

.address-burger__email {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
}

.address-burger__tel:hover,
.address-burger__email:hover {
  color: #2196F3;
}

.socials-burger {
  transform: translateX(100%);
  transition: transform 0.1s linear;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: fixed;
  left: 0;
  bottom: 48px;
}

.socials-burger__item {
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.socials-burger__item--without {
  border-right: none;
}

.socials-burger__link {
  font-size: 18;
  font-weight: 500;
  color: #2196F3;
  text-decoration: none;
}

.menu.open .socials-burger {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .socials-burger {
    display: none;
  }
}
.address {
  transform: translateX(100%);
  transition: transform 0.1s linear;
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  padding-left: 40px;
  padding-bottom: 135px;
}

.menu.open .address {
  transform: translateX(0);
}

.address__icon {
  display: none;
}

.address__contact {
  font-size: 12px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  margin-right: 30px;
  font-weight: 500;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover, .address__contact:hover .address__icon {
  color: #2196F3;
  fill: #2196F3;
}

.address__contact--tel {
  font-size: 34px;
  font-weight: 500;
  color: #2196F3;
}

.address__contact--email {
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .address {
    transform: none;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin-left: 40px;
  }
  .address__contact {
    font-size: 12px;
  }
  .address__contact--tel {
    color: #757575;
  }
  .address__icon {
    display: inline-block;
    color: #757575;
  }
  .address__icon--tel {
    width: 10px;
    height: 14px;
    padding-right: 8px;
  }
  .address__icon--email {
    width: 14px;
    height: 10px;
    padding-right: 8px;
  }
}
@media (min-width: 1200px) {
  .address {
    flex-direction: row;
  }
  .address__contact {
    font-size: 14px;
  }
}
.section__title {
  margin: 0px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
  letter-spacing: 1px;
}

.section--features {
  margin-bottom: 60px;
}

.section--team {
  background-color: #F5F4FA;
}

.section--works {
  display: none;
}

@media (min-width: 1200px) {
  .section--works {
    display: flex;
  }
}
.list--features {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
.list--team {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
.list--customers {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .list--features {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
  .list--team {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
  .list--customers {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .list--features {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
  .list--works {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
  .list--team {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
  }
  .list--customers {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
}
.main-section {
  background-size: cover, cover;
  background-position: center top;
}
.main-section__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-resolution: 96dpi), (min-resolution: 1dppx) {
  .main-section {
    background-image: url("../img/bg-gradient.png"), url("../img/bg-office.jpg");
  }
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: url("../img/bg-gradient.png"), url("../img/bg-office@2x.jpg");
  }
}

.main-section__text {
  color: white;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 2px;
}

.main-section__button {
  height: 50px;
  width: 200px;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .main-section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .main-section__text {
    font-size: 44px;
  }
  .main-section__button {
    width: 216px;
  }
}
.section--features {
  padding-bottom: 0;
}

.item {
  text-align: center;
}

.item__title {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.item__subtitle {
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.5px;
}

.item--first::before {
  background-image: url(../img/icon-antenna.jpg);
}

.item--second::before {
  background-image: url(../img/icon-clock.jpg);
}

.item--third::before {
  background-image: url(../img/icon-computer.jpg);
}

.item--fourth::before {
  background-image: url(../img/icon-astronaut.jpg);
}

.item__caption {
  position: relative;
}

.item__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.item__figcaption {
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .item {
    text-align: start;
  }
  .item--first::before {
    max-width: 100%;
  }
  .item--second::before {
    max-width: 100%;
  }
  .item--third::before {
    max-width: 100%;
  }
  .item--fourth::before {
    max-width: 100%;
  }
}
.team__wrap {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team__img {
  width: 100%;
  height: auto;
}

.team__text {
  text-align: center;
  margin-top: 0;
  padding-bottom: 0px;
}

.team__title {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.5px;
}

.team__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.5px;
}

.customers-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
}

.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 92px;
  border-radius: 3%;
  border: #afb1b8 1px solid;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers:hover {
  border-color: #2196F3;
}

.customers:hover .customers__icon {
  fill: #2196F3;
}

.socials {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials--padding {
  padding-bottom: 24px;
}

.socials__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__wrapper--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__wrapper:hover {
  background-color: #2196F3;
}

.socials__wrapper:hover .socials__icon {
  fill: #ffffff;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon--bg {
  fill: #ffffff;
}

.email__wrap {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0;
  padding-bottom: 45px;
  flex-wrap: wrap;
}

.email__input {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: 2px solid rgba(255, 255, 255, 0.1921568627);
  border-radius: 4px;
  background-color: #2F303A;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .email__wrap {
    flex-wrap: nowrap;
    gap: 0px;
  }
  .email__input {
    min-width: 358px;
    height: 50px;
  }
}
.footer__address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
  line-height: 1.71;
  display: flex;
  flex-direction: column;
}

.footer__left {
  padding-top: 60px;
}

.footer__email {
  padding-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:hover {
  color: #2196F3;
}

.footer__phone {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__phone:hover {
  color: #2196F3;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #2F303A;
  width: 100%;
  padding-bottom: 60px;
}

.footer__left {
  text-align: center;
}

.footer__center {
  text-align: center;
}

.footer__right {
  text-align: center;
}

.footer__subscribe {
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__telegram {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__text {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer__button {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  padding: 16px;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  margin-left: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.footer__button:hover .footer__telegram,
.footer__button:hover .footer__subscribe {
  fill: #212121;
  color: #212121;
}

.footer__icon {
  padding-left: 10px;
}

.footer__social {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__left {
    flex-basis: calc(50% - 10px);
  }
  .footer__center {
    flex-basis: calc(50% - 10px);
  }
  .footer__right {
    flex-basis: 100%;
  }
}
@media (min-width: 1200px) {
  .footer__left {
    flex: 1;
    text-align: start;
  }
  .footer__address {
    align-items: start;
  }
  .footer__center {
    flex: 1;
    max-width: 570px;
    margin-right: 50px;
  }
  .footer__right {
    flex: 1;
  }
  .footer__text--start {
    text-align: start;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.212);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 3;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 70%;
  margin: auto;
  max-width: 528px;
  padding: 40px;
  padding-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal {
  transform: translateX(-50%) scale(0.8);
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  display: flex;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  width: 20px;
  height: 20px;
  fill: black;
  position: absolute;
  top: 14px;
  left: 10px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal__close {
  opacity: 0;
}

.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.05px solid #afb1b8;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.8s ease-in-out 0.2s;
}

.modal__close:hover .modal__close-icon {
  fill: #2196F3;
}

.modal__text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(33, 33, 33);
  font-size: 20px;
  letter-spacing: 0.6px;
  font-weight: 700;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal__text {
  transform: translateX(-200%);
  transition-delay: 200ms;
}

.modal__label {
  font-size: 12px;
  color: #757575;
  font-weight: 400;
}

.modal__input {
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px;
  padding-left: 40px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  transition-property: border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input--textarea:hover {
  border: 1px solid #2196F3;
}

.modal__input--checkbox {
  padding-left: 20px;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: none;
  transition-duration: 0s;
  transition-timing-function: ease;
}

.modal__paragraph {
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.42px;
}
@media (min-width: 1200px) {
  .modal__paragraph {
    font-size: 16px;
  }
}

.modal__link {
  margin-left: 10px;
  color: #2196f3;
}

.input-wrapper {
  position: relative;
}

.input-wrapper:hover .modal__icon {
  fill: #2196F3;
}

.input-wrapper:hover .modal__input {
  border: 1px solid #2196F3;
}

.modal__input:focus,
.modal__input--textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.modal__input--focus-1:focus-within .modal__icon--1 {
  fill: #2196F3;
}

.modal__icon--1 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.modal__input--textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.no-scroll {
  overflow: hidden;
  padding-right: 14px;
}

.input-wrapper:focus-within .modal__icon {
  fill: #2196F3;
}

.nav-wrap {
  max-width: 100%;
  padding-top: 94px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
  gap: 8px;
}

.nav-wrap__button {
  background-color: #F5F4FA;
  height: 38px;
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  white-space: normal;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-wrap__button:hover {
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.post__wrap:hover .overlay {
  transform: translateY(0);
}

.overlay__wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__content {
  color: #ffffff;
}

.posts-section {
  padding-top: 34px;
}

.posts-section__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  margin-bottom: 94px;
}

.post {
  width: 100%;
  margin: 0;
  padding: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.post:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .post {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .post {
    width: calc((100% - 60px) / 3);
  }
}
.post__wrap {
  border-bottom: 1px solid rgb(241, 241, 241);
  border-left: 1px solid rgb(241, 241, 241);
  border-right: 1px solid rgb(241, 241, 241);
  position: relative;
  overflow: hidden;
}

.post:nth-child(-n+6) {
  margin-bottom: 0;
}

.post__text {
  text-align: start;
  padding-right: 24px;
  padding-left: 24px;
}

.post__img {
  display: block;
  width: 100%;
}

.post__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #212121;
  margin-top: 20px;
}

.post__subtitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #757575;
  margin-bottom: 20px;
}

figure {
  margin: 0;
}