.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  padding-bottom: 50px;
}

.item--fourth::before, .item--third::before, .item--second::before, .item--first::before {
  content: "";
  display: block;
  width: 100%;
  max-width: 270px;
  aspect-ratio: 9/4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__phone, .footer__email {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.5px;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../../fonts/Roboto-Black.ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 14px 0;
  border-bottom: 2px solid rgba(177, 177, 177, 0.178);
}
.header__wrap {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
}

.navigation__list {
  list-style: none;
  display: flex;
  padding-left: 93px;
}
.navigation__link {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
  color: #2196F3;
}
.navigation__link::after {
  content: "";
  height: 2px;
  width: 60%;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: -20px;
  opacity: 0;
  transform: translateX(0px);
  transform-origin: left center;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover::after {
  opacity: 1;
  transform: scale(2) translateX(-2.5px);
}

.navigation__link--right {
  margin-left: 7px;
}

.address {
  margin-left: auto;
}
.address__icon {
  width: 20px;
  height: 16px;
  fill: #AFB1B8;
  text-align: center;
  padding-right: 10px;
  vertical-align: middle;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__icon--size {
  width: 16px;
  height: 12px;
}

.address__contact {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover, .address__contact:hover .address__icon {
  color: #2196F3;
  fill: #2196F3;
}

.address__link {
  margin-right: 30px;
  font-weight: 500;
}

.section__title {
  margin: 0px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
  letter-spacing: 1px;
}

.list {
  padding-top: 50px;
}
.list--features {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
.list--works {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
.list--team {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
.list--customers {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

.main-section {
  background-image: url("../../img/bg-gradient.png"), url("../../img/bg-office.png");
  background-size: cover, cover;
}
.main-section__wrap {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section__text {
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 2px;
}

.main-section__button {
  height: 50px;
  width: 216px;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.item--first::before {
  background-image: url(../../img/icon-antenna.png);
}

.item--second::before {
  background-image: url(../../img/icon-clock.png);
}

.item--third::before {
  background-image: url(../../img/icon-computer.png);
}

.item--fourth::before {
  background-image: url(../../img/icon-astronaut.png);
}

.item__title {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.item__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.5px;
}

.section--features {
  padding-bottom: 0;
}

.item__caption {
  position: relative;
}

.item__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.item__figcaption {
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__wrap {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team__text {
  text-align: center;
  margin-top: 0;
  padding-bottom: 0px;
}

.team__title {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.5px;
}

.team__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.5px;
}

.section--team {
  background-color: #F5F4FA;
}

.customers-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
}

.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 3%;
  border: #AFB1B8 1px solid;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers:hover {
  border-color: #2196F3;
}

.customers:hover .customers__icon {
  fill: #2196F3;
}

.socials {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.socials__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__wrapper--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__wrapper:hover {
  background-color: #2196F3;
}

.socials__wrapper:hover .socials__icon {
  fill: #FFFFFF;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon--bg {
  fill: #FFFFFF;
}

.socials--gap {
  gap: 10px;
}

.footer__center {
  margin-left: 70px;
}

.footer__subscribe {
  transition: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__telegram {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email__wrap {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 35px;
  flex-wrap: wrap;
}

.footer__text {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 68px;
}

.email__input {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  padding: 16px;
  border: 2px solid rgba(255, 255, 255, 0.1921568627);
  border-radius: 4px;
  background-color: #2F303A;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.footer__button {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  padding: 16px;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  margin-left: 12px;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.footer__button:hover .footer__telegram,
.footer__button:hover .footer__subscribe {
  fill: #212121;
  color: #212121;
}

.footer__icon {
  padding-left: 10px;
}

.footer__address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
  line-height: 1.71;
  display: flex;
  flex-direction: column;
}

.footer__left {
  padding-top: 60px;
}

.footer__email {
  padding-bottom: 9px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:hover {
  color: #2196F3;
}

.footer__phone {
  margin-bottom: 60px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__phone:hover {
  color: #2196F3;
}

.footer__wrap {
  display: flex;
  justify-content: start;
}

.footer {
  background-color: #2F303A;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.212);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 3;
  opacity: 1;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  padding-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal {
  transform: translateX(-50%) scale(0.8);
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  display: flex;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  width: 20px;
  height: 20px;
  fill: black;
  position: absolute;
  top: 14px;
  left: 10px;
  cursor: pointer;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal__close {
  opacity: 0;
}

.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.05px solid #AFB1B8;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.8s ease-in-out 0.2s;
}

.modal__close:hover .modal__close-icon {
  fill: #2196F3;
}

.modal__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(33, 33, 33);
  font-size: 20px;
  letter-spacing: 0.6px;
  font-weight: 700;
  transform: translateX(0);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal__text {
  transform: translateX(-200%);
  transition-delay: 200ms;
}

.modal__label {
  font-size: 12px;
  color: #757575;
  font-weight: 400;
}

.modal__input {
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px;
  padding-left: 40px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  transition-property: border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input--textarea:hover {
  border: 1px solid #2196F3;
}

.modal__input--checkbox {
  padding-left: 20px;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: none;
  transition-duration: none;
  transition-timing-function: none;
}

.modal__paragraph {
  color: #757575;
  letter-spacing: 0.42px;
}

.modal__link {
  margin-left: 10px;
  color: #2196F3;
}

.input-wrapper {
  position: relative;
}

.input-wrapper:hover .modal__icon {
  fill: #2196F3;
}

.input-wrapper:hover .modal__input {
  border: 1px solid #2196F3;
}

.modal__input:focus,
.modal__input--textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.modal__input--focus-1:focus-within .modal__icon--1 {
  fill: #2196F3;
}

.modal__icon--1 {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.modal__input--textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.no-scroll {
  overflow: hidden;
  padding-right: 18px;
}

.input-wrapper:focus-within .modal__icon {
  fill: #2196F3;
}

.nav-wrap {
  padding-top: 94px;
  display: flex;
  justify-content: center;
}

.nav-wrap__button {
  background-color: #F5F4FA;
  height: 38px;
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-wrap__button:hover {
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav-wrap__button:not(:last-child) {
  margin-right: 8px;
}

.post__wrap:hover .overlay {
  transform: translateY(0);
}

.overlay__wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.overlay__content {
  color: #ffffff;
}

.posts-section {
  padding-top: 34px;
}

.posts-section__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  margin-bottom: 94px;
}

.post {
  width: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;
}

.post:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.post__wrap {
  border-bottom: 1px solid rgb(241, 241, 241);
  border-left: 1px solid rgb(241, 241, 241);
  border-right: 1px solid rgb(241, 241, 241);
  position: relative;
  overflow: hidden;
}

.post:nth-child(-n+6) {
  margin-bottom: 0;
}

.post__text {
  text-align: start;
  padding-right: 24px;
  padding-left: 24px;
}

.post__img {
  display: block;
  width: 100%;
}

.post__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #212121;
  margin-top: 20px;
}

.post__subtitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #757575;
  margin-bottom: 20px;
}

figure {
  margin: 0;
}