@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../../fonts/Roboto-Black.ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header {
  padding: 14px 0;
  border-bottom: 2px solid rgba(177, 177, 177, 0.178);
}

.address {
  margin-left: auto;
}

.adress-link {
  margin-right: 30px;
  font-weight: 500;
}

.address-email {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email-icon {
  width: 16px;
  height: 12px;
  fill: #AFB1B8;
  text-align: center;
  padding-right: 10px;
  vertical-align: middle;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-phone-icon {
  width: 10px;
  height: 16px;
  fill: #AFB1B8;
  text-align: center;
  padding-right: 10px;
  vertical-align: middle;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email:hover, .address-email:hover .address-email-icon {
  color: #2196F3;
  fill: #2196F3;
}

.address-phone {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-phone:hover, .address-phone:hover .address-phone-icon {
  color: #2196F3;
  fill: #2196F3;
}

.nav-list {
  list-style: none;
  display: flex;
  padding-left: 93px;
}

.nav-list-item {
  position: relative;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";
  height: 2px;
  width: 60%;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: -20px;
  opacity: 0;
  transform: translateX(0px);
  transform-origin: left center;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  opacity: 1;
  transform: scale(2) translateX(-2.5px);
}

.nav-link-1 {
  margin-left: 7px;
}

.nav-link:hover {
  color: #2196F3;
}

.main-text {
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 2px;
}

.main-section {
  background-image: url("../../img/bg-gradient.png"), url("../../img/bg-office.png");
  background-size: cover, cover;
}

.main-section-wrap {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-button {
  height: 50px;
  width: 216px;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.features-section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list-item {
  margin-right: 30px;
}

.features-title {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.features-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.5px;
}

.features-list {
  display: flex;
}

.features-list-item1::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-image: url(../../img/icon-antenna.png);
}

.features-list-item2::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-image: url(../../img/icon-clock.png);
}

.features-list-item3::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-image: url(../../img/icon-computer.png);
}

.features-list-item4::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-image: url(../../img/icon-astronaut.png);
}

.our-works-title {
  margin: 0px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
  letter-spacing: 1px;
}

.our-works-caption {
  position: relative;
}

.our-works-img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.our-works-figcaption {
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-works-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
}

figure {
  margin: 0;
}

.team-section {
  background-color: #F5F4FA;
}

.team-wrap {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team-text {
  text-align: center;
  margin-top: 0;
  padding-bottom: 0px;
}

.team-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
  padding-top: 94px;
  padding-bottom: 50px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.team-item {
  list-style: none;
}

.team-member-title {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.5px;
}

.team-member-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.5px;
}

.team-member-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 35px;
}

.team-member-social:not(:last-child) {
  margin-right: 10px;
}

.social-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-icon-wrapper:hover {
  background-color: #2196F3;
}

.social-icon-wrapper:hover .team-member-social-icon {
  fill: #FFFFFF;
}

.team-member-social-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.team-member-title {
  margin-top: 30px;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  margin: 0px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.customers-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
}

.customers-list-item:not(:last-child) {
  margin-right: 27px;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 3%;
  border: #AFB1B8 1px solid;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover {
  border-color: #2196F3;
}

.customers-list-link:hover .customers-list-icon {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
}

.footer-address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
  line-height: 1.71;
}

.footer-text {
  margin-top: 20px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.footer-wrap-left {
  padding-top: 60px;
}

.footer-email {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.5px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email:hover {
  color: #2196F3;
}

.footer-phone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.5px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-phone:hover {
  color: #2196F3;
}

.footer-wrap {
  padding-top: 60px;
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.footer-email {
  padding-bottom: 9px;
}

.footer-phone {
  margin-bottom: 60px;
}

.main-footer-wrap {
  display: flex;
  justify-content: start;
}

.footer-wrap-center {
  margin-left: 70px;
}

.footer-social-text {
  margin: 0;
}

.footer-social-text {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 68px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 35px;
  flex-wrap: wrap;
}

.footer-social:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-subscribe {
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-telegram {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-wrapper:hover {
  background-color: #2196F3;
}

.footer-email-form-wrap {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 35px;
  flex-wrap: wrap;
}

.footer-email-text {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 68px;
}

.footer-input-mail {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  padding: 16px;
  border: 2px solid rgba(255, 255, 255, 0.1921568627);
  border-radius: 4px;
  background-color: #2F303A;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.footer-button {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  padding: 16px;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.footer-button:hover .footer-social-icon-telegram,
.footer-button:hover .footer-subscribe {
  fill: #212121;
  color: #212121;
}

.footer-right-icon {
  padding-left: 10px;
}

.nav-wrap {
  padding-top: 94px;
  display: flex;
  justify-content: center;
}

.nav-button {
  background-color: #F5F4FA;
  height: 38px;
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover {
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav-button:not(:last-child) {
  margin-right: 8px;
}

.post-item-wrap:hover .overlay {
  transform: translateY(0);
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.overlay-content {
  color: #ffffff;
}

.posts-section {
  padding-top: 34px;
}

.posts-section-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  margin-bottom: 94px;
}

.post-item {
  width: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;
}

.post-item:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.post-item-wrap {
  border-bottom: 1px solid rgb(241, 241, 241);
  border-left: 1px solid rgb(241, 241, 241);
  border-right: 1px solid rgb(241, 241, 241);
  position: relative;
  overflow: hidden;
}

.post-item:nth-child(-n+6) {
  margin-bottom: 0;
}

.post-text {
  text-align: start;
  padding-right: 24px;
  padding-left: 24px;
}

.post-img {
  display: block;
  width: 100%;
}

.post-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #212121;
  margin-top: 20px;
}

.post-subtitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #757575;
  margin-bottom: 20px;
}

figure {
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.212);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 3;
  opacity: 1;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  padding-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(0.8);
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-close-icon {
  width: 11px;
  height: 11px;
  display: flex;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  width: 20px;
  height: 20px;
  fill: black;
  position: absolute;
  top: 14px;
  left: 10px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-close {
  opacity: 0;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.05px solid #AFB1B8;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.8s ease-in-out 0.2s;
}

.modal-close:hover .modal-close-icon {
  fill: #2196F3;
}

.modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(33, 33, 33);
  font-size: 20px;
  letter-spacing: 0.6px;
  font-weight: 700;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-text {
  transform: translateX(-200%);
  transition-delay: 200ms;
}

.modal-form > label {
  font-size: 12px;
  color: #757575;
  font-weight: 400;
}

.modal-input {
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px;
  padding-left: 40px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  transition-property: border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textarea {
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  transition-property: border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textarea:hover {
  border: 1px solid #2196F3;
}

.modal-input-checkbox {
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-input-checkbox > p {
  color: #757575;
  letter-spacing: 0.42px;
}

.modal-input-checkbox > p > a {
  margin-left: 10px;
  color: #2196F3;
}

.input-wrapper {
  position: relative;
}

.input-wrapper:hover .modal-icon {
  fill: #2196F3;
}

.input-wrapper:hover .modal-input {
  border: 1px solid #2196F3;
}

.modal-input:focus,
.modal-input-textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.focus-1:focus-within .focus-img-1 {
  fill: #2196F3;
}

.focus-img-1 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bottom-button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.modal-input-textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.no-scroll {
  overflow: hidden;
  padding-right: 18px;
}

.input-wrapper:focus-within .modal-icon {
  fill: #2196F3;
}