.address {
  display: none;
}

@media (min-width: 768px) {
  .address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;

    &__icon {
      width: 20px;
      height: 16px;
      fill: #afb1b8;
      text-align: center;
      padding-right: 10px;
      vertical-align: middle;

      @include transition(fill);
    }

    &__icon--size {
      width: 16px;
      height: 12px;
    }
  }
  .address__contact {
    font-size: 12px;
    font-weight: 500;
    color: $caption-color;
    text-decoration: none;
    font-style: normal;
    margin-right: 30px;
    font-weight: 500;
    display: flex;

    @include transition(color);

    &:hover,
    &:hover .address__icon {
      color: $hover-color;
      fill: $hover-color;
    }
  }
}

@media (min-width: 1200px){
    .address{
      flex-direction: row;
      gap: 0px;
    }
}

