.footer{
    background-color: $background-color-secondary;
    width: 100%;
}
.footer__left{
    text-align: center;
}
.footer__center {
    text-align: center;
}
.footer__right{
    text-align: center;
}

.footer__subscribe {
    @include transition (fill, color);
}

.footer__telegram {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;

    @include transition (fill);
}

.footer__text {
    font-size: 14px;
    font-weight: 700;
    color: $background-color-primary;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 60px;
}

// .footer__text {
//     font-size: 14px;
//     font-weight: 700;
//     color: $background-color-primary;
//     letter-spacing: 0.5px;
//     margin-bottom: 20px;
//     margin-top: 68px;
// }

.footer__button {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    padding: 16px;
    background-color: $hover-color;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    margin-left: 12px;

    @include transition (background-color);
}

.footer__button:hover {
    background-color: $caption-adress;
}

.footer__button:hover .footer__telegram,
.footer__button:hover .footer__subscribe {
    fill: $text-color-base;
    color: $text-color-base;
}

.footer__icon {
    padding-left: 10px;
}

.footer__social{
    margin: 0;
    width: 100%;
}