


.main-section{
    background-image: url("../img/bg-gradient.png"),
                      url("../img/bg-office.png");
    background-size: cover, cover; 
    background-position: center;
    

    &__wrap{
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

.main-section__text{
    color: white;
    font-size: 26px;
    // font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 2px;
}
.main-section__button{
    height: 50px;
    width: 200px;
    // width: 216px;
    background-color: $hover-color;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}