.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__nav {
  transform: translateX(100%);
  transition: transform 0.1s linear;
}
.menu.open {
  transform: translateX(0);

  .menu__nav {
    transform: translateX(0);
  }
}
.menu__toggle {
  display: none;
}
.menu__label {
  position: relative;
}

@media (min-width: 768px) {
  .menu {
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: transparent;
  }
  .menu__nav {
    transform: none;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    gap: 35px;
    padding-top: 0;
  }
}
