.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(5px);
    z-index: 3;
    opacity: 1;

    @include transition (opacity)
}
.backdrop--is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 70%;
    margin: auto;
    // width: 528px;
    // height: 581px;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    background-color: white;  
    overflow: hidden;

    @include transition (transform);    
}

.backdrop--is-hidden .modal{
    transform: translateX(-50%) scale(0.8);
}
.modal__form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal__close-icon{
    width: 11px;
    height: 11px;
    display: flex;
    
    @include transition (fill);
}
.modal__icon{
    width: 20px;
    height: 20px;
    fill: black;
    position: absolute;
    top: 14px;
    left: 10px;
    cursor: pointer;

    @include transition (fill);
}
.backdrop--is-hidden .modal__close {
    opacity: 0;
}
.modal__close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.05px solid #AFB1B8;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.8s ease-in-out 0.2s; 
}
.modal__close:hover .modal__close-icon{
    fill: $hover-color;
}
.modal__text{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(33, 33, 33, 1);
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 700;
    transform: translateX(0);

    @include transition (transform);
}
.backdrop--is-hidden .modal__text {
    transform: translateX(-200%);
    transition-delay: 200ms;
}
.modal__label{
    font-size: 12px;
    color: $caption-color;
    font-weight: 400;
}
.modal__input{
    box-sizing: border-box;
   margin-top: 4px;
   margin-bottom: 10px;
   padding: 11px;
   padding-left: 40px;
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   width: 100%;

   @include transition (border, outline);
}
.modal__input--textarea{
    &:hover{
         border: 1px solid $hover-color;
    }
}
.modal__input--checkbox{
   padding-left: 20px;
   display: flex;
   gap: 10px;
   border: none;
   border-radius: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transition-property: none;
   transition-duration: 0s;
   transition-timing-function: ease;
}
.modal__paragraph{
    color: $caption-color;
    font-size: 12px;
    // font-size: 16px;
    letter-spacing: 0.42px;
}
.modal__link{
    margin-left: 10px;
    color: #2196F3;
}
.input-wrapper{
    position: relative;
}
.input-wrapper:hover .modal__icon{
    fill: $hover-color;
}
.input-wrapper:hover .modal__input{
    border: 1px solid $hover-color;
}
.modal__input:focus,
.modal__input--textarea:focus {
    border: 1px solid $hover-color;
    outline: none; 
}
.modal__input--focus-1:focus-within .modal__icon--1 {
    fill: $hover-color;
}
.modal__icon--1{
    @include transition (fill);
}
.modal__button{
    width: 200px;
    height: 50px;
    background-color: $hover-color;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.modal__input--textarea:focus {
    border: 1px solid $hover-color;
    outline: none;
}
.no-scroll {
    overflow: hidden;
    padding-right: 18px;
}
.input-wrapper:focus-within .modal__icon {
    fill: $hover-color;
}