.socials {
    @include grid-list(4, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.socials__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    @include transition (background-color);

    &--bg {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.socials__wrapper:hover {
    background-color: $hover-color;
}

.socials__wrapper:hover .socials__icon {
    fill: #FFFFFF;
}

.socials__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    @include transition (fill);

    &--bg {
        fill: #FFFFFF;
    }
}

.socials--gap {
    gap: 10px;
}