.socials-burger {
  transform: translateX(100%);
  transition: transform 0.1s linear;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  position: fixed;
  left: 0;
  bottom: 48px;
}
.socials-burger__item {
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;

  &--without {
    border-right: none;
  }
}
.socials-burger__link{
    font-size: 18;
    font-weight: 500;
    color: $hover-color;
    text-decoration: none;
}
.menu.open {
  .socials-burger {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .socials-burger {
    display: none;
  }
}
